<!DOCTYPE html>
<html>
	<head>
		<title>Thermometer</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css"/>
		<style type="text/css">body {background-color: <%= background %>;}</style>
	</head>
	<body>
		<img src="img/logo.png" alt="logo" class="logo" align="right"/>
		<h1>Welcome <%= user %></h1>
		<div class="container">
			<div class="box">
				<div class="back-circle">
					<div class="middle-circle">
						<div class="front-circle">
							<div class="thermometer"><%= temperature %>&nbsp;<strong>&deg;</strong></div>
						</class>
					</div>
				</div>
			</div>
		</div>

		<form action="/change-temperature" method="POST">
			<table border="0" align="center" cellspacing="2" cellpadding="2">

				<tr>
					<td>Change the temperature:</td>
					<td><input type="number" name="degreesToAdd"></td>
				</tr>

				<tr>
					<td colspan="2"><input type="submit" value="Submit changes"></td>
				</tr>

			</table>
		</form>
	</body>
</html>
