<!DOCTYPE html>
<html>
	<head>
		<title>Access denied</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css"/>
		<style type="text/css">body {background-color: <%= background %>;}</style>
	</head>
	<body>
		<img src="img/logo.png" alt="logo" class="logo" align="right"/>
		<h1>Due to violations of our guidelines, the product has been blocked.
		Please contact a technician to unlock it (costs: $200)</h1>
		<img src="img/access_denied.png" alt="access denied" class="access-denied"/>
	</body>
</html>
