<!DOCTYPE html>
<html>
	<head>
		<title>Tech support</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css"/>
		<style type="text/css">body {background-color: <%= background %>;}</style>
	</head>
	<body>
		<img src="img/logo.png" alt="logo" class="logo" align="right"/>
		<div class="device-informations"><p><b>Current temperature : <%= temperature %>&deg;C</b><br/><br/>
		Date of purchase : <%= purchase %><br/>
		End of insurance : <%= insurance %><br/>
		Date when the product should start having issues : <%= failures %></p></div>
	</body>
</html>
